a{
    color: seagreen;
}

b   {
    color: red;
}

h3{
    color: blue;
    font-weight: bold;
}

h3 b{
    text-decoration: underline;
}
.prueba{
    text-decoration: underline overline;
}

.prueba2{
    font-size: 40px;
    font-weight: bold;
}