*{
    margin: 0px;
    border: 0px;
}

body{
    background: aqua;
    padding: 1em;
}
.container{
    background-color: cornflowerblue;
    border: 15px blue;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.item{
    padding: 2em;
    border: 5px solid blue;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item1{
    order: 5;
    flex-grow: 1;
}

.item2{
    order: 3;
    flex-grow: 5;
}

.item3{
    order: 4;
    flex-grow: 1;
}
.item4{
    order: 2;
    flex-grow: 1;
}

.item5{
    order: 1;
    flex-grow: 1;
}
