* {
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;

}

.inline-block {
    display: inline-block;
    width: 400px;
    border: solid;
    padding: 10px;
}


.content {
    width: 90%;
    height: 40px;
    border: 2px solid black;
    margin-top: 10px;
}

span.a {
    display: inline-block;
    width: 60%;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
}

span.b {
    display: inline-block;
    width: 30%;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
}

.div1 {
    float: left;
    padding: 10px;
    border: 1px solid rgb(80, 77, 77);
    width: 60%;
}

.div2 {
    float: right;
    padding: 10px;
    background-color: cornflowerblue;
    width: 35%;
}

.div3 {
    display: block;
    width: 400px;
    padding: 10px;
    float: left;
    padding: 10px;
}
