div {
    width: 400px;
    height: 150px;
    background-color: rgb(33, 90, 33);
    border: 3.5px dotted rgb(197, 241, 73);
    padding: 40px;
    margin: 50px;
    display: inline-table;
    text-align: center;
}

div p {
    display: table-cell;
    vertical-align: middle;
    font-family: impact;
    font-size: 39px;
    text-transform: uppercase;
    color: #ddece4;
}